
#screen-backgroud {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-color: black;
    z-index: 0;
}

#main-screen {
    position: absolute;
    height: 600px;
    width: 800px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    overflow: hidden;
    background-color: lightgray;
}

#text-window {
    position:absolute;
    top: 490px;
    left: 50px;
    height: 100px;
    width: 700px;
    padding: 10px;
    visibility: hidden;
    color: white;
    background-color: rgba(114, 0, 46, 0.5);
    border-radius: 10px;
    z-index: 600;
}

#loading-scene {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: visible;
    color: white;
    background-color: black;
}

#select-window {
    position: absolute;
    width: 400px;
    margin: 0;
    padding: 20px;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(100,255,212,0.5);
    visibility: hidden;
    z-index: 600;
}

#bt-menu {
    position: absolute;
    top: 550px;
    left: 700px;
    height: 30px;
    width: 30px;
    z-index: 601;
}

#bt-next-text {
    position: relative;
    color: black;
    background-color: white;
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    top:560px;
    text-align: center;
    visibility: hidden;
    border-radius: 10px;
}


.select-item {
    margin: 10px;
    background-color: lawngreen;
}

.scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 200;
}

.character {
    position: absolute;
    visibility: hidden;
    z-index: 500;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 300;
}

.ui {
    z-index: 600;
}

.poyon {
    animation: poyon 2s linear 0.5s infinite;
  }

  @keyframes poyon {
    0%   { transform: scale(0.8, 1.4) translate(0%, -100%); }
    10%  { transform: scale(0.8, 1.4) translate(0%, -15%); }
    20%  { transform: scale(1.4, 0.6) translate(0%, 30%); }
    30%  { transform: scale(0.9, 1.1) translate(0%, -10%); }
    40%  { transform: scale(0.95, 1.2) translate(0%, -30%); }
    50%  { transform: scale(0.95, 1.2) translate(0%, -10%); }
    60%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
    70%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
    100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
  }